#!/bin/sh
cd ~

PROXY_URI=http://10.211.55.2:8080

echo export http_proxy=$PROXY_URI >>/etc/profile
echo export https_proxy=$PROXY_URI >>/etc/profile
echo export ftp_proxy=$PROXY_URI >>/etc/profile
echo proxy=$PROXY_URI >>/etc/yum.conf

# fix a mirror to make proxy caching help..
sudo sed -i \
     's/#baseurl=http:\/\/mirror.centos.org\/centos/baseurl=http:\/\/centos.mirror.xtratelecom.es/g' \
        /etc/yum.repos.d/*.repo
sudo sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/*.repo
sudo sed -i 's/enabled=1/enabled=0/g' /etc/yum/pluginconf.d/fastestmirror.conf


sudo yum install -y vim vim-enhanced ctags unzip python-flake8

# go vim go!,
git clone https://github.com/mangelajo/vim-settings
cd vim-settings
./install.sh
cd ..

chmod og-rwx ~/.ssh/*

git config --global gitreview.username mangelajo
git config --global user.name "Miguel Angel Ajo"
git config --global user.email "mangelajo@redhat.com"
git config --global core.editor vim

