#!/bin/sh
cd ~

sudo yum install -y vim vim-enhanced ctags unzip python-flake8

# colorify my prompt
cp /vagrant/bashrc_prompt ~/.bashrc_prompt
echo source ~/.bashrc_prompt >~/.bashrc

# go vim go!,
git clone https://github.com/mangelajo/vim-settings
cd vim-settings
./install.sh
cd ..

chmod og-rwx ~/.ssh/*

git config --global gitreview.username mangelajo
git config --global user.name "Miguel Angel Ajo"
git config --global user.email "mangelajo@redhat.com"
git config --global core.editor vim

